[submodule "SmartHive.ZWaveModule/deps/open-zwave"]
	path = SmartHive.ZWaveModule/deps/open-zwave
	url = https://github.com/OpenZWave/open-zwave
[submodule "open-zwave"]
	path = open-zwave
	url = https://github.com/OpenZWave/open-zwave
