[submodule "open-zwave"]
	path = open-zwave
	url = https://github.com/OpenZWave/open-zwave
[submodule "iot-edge"]
	path = iot-edge
	url = https://github.com/Azure/iot-edge
[submodule "paho.mqtt.cpp"]
	path = paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp
[submodule "paho.mqtt.c"]
	path = paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
